<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113415015617-jf8eo85on7814fa67pkt1ehjr8rhru5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113415015617-jf8eo85on7814fa67pkt1ehjr8rhru5h</string>
	<key>API_KEY</key>
	<string>AIzaSyBmkeCr4IPl3qVJn7k0mFbxYCSvE65wC9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>113415015617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mondayoff.cart</string>
	<key>PROJECT_ID</key>
	<string>cart-rush</string>
	<key>STORAGE_BUCKET</key>
	<string>cart-rush.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113415015617:ios:16ec1b4268bdcda23bd840</string>
</dict>
</plist>